@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Rubik:wght@300;400;500&display=swap');

*{
    margin:0; /* zerar margem */
    padding:0; /* zerar os espaçamentos internos */
    box-sizing: border-box;
}
h1{
    font-family: 'Kenia', sans-serif;
    border: 1px solid rgb(255, 0, 0);
}

body{
    background-image: linear-gradient(to left, #0a0238, #4f429759);
}

.img1{
    border: 1px solid rgb(255, 0, 0); /* borda utilziado para alinhar imagem*/
    width: 50%;
    height: 50vh;
    /* display: flex; */
}

.img1 figure img{
    width: 400px;
}

.img2{
    border: 1px solid rgb(250, 0, 0);

}